<?xml version="1.0" encoding="UTF-8"?>
<widget>
	<widgetname>External Call Channel</widgetname>
	<type>user</type> 
	<fullwidget>y</fullwidget>
    <srcctl>y</srcctl>
    <flashplayer>y</flashplayer>
    <category>others</category>
	<ver>1.00</ver>
	<ThumbIcon>icons/tut_106.png</ThumbIcon>
	<BigThumbIcon>icons/tut_115.png</BigThumbIcon>
	<description>External Call of Channel </description>	
	<width>960</width>
	<height>540</height>
     <author>
		<name>SISC</name>
		<email>s.surender@samsung.com</email>
		<link>http://www.samsung.com/in</link>
		<organization>Samsung India Software Centre</organization>
	</author>
</widget>