* {
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
}
	
body {
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    position: fixed;
    overflow: hidden;
	width: 960px; 
    height: 540px;
	color:#FFFFFF;
}
